downloads/
m2deps/
jobs/maze-explorer/builds/
jobs/maze-explorer/cobertura/
jobs/maze-explorer/lastStable
jobs/maze-explorer/lastSuccessful
jobs/maze-explorer/nextBuildNumber
jobs/maze-explorer/workspace/
